* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em; /* Adjusts the font size */
    color: #333; /* Sets the text color */
    margin-bottom: 20px; /* Adds space below the heading */
    text-align: center; /* Centers the text */
    font-weight: bold; /* Makes the text bold */
    text-transform: uppercase; /* Converts text to uppercase */
    letter-spacing: 2px; /* Adds space between letters */
    line-height: 1.2; /* Adjusts the line height */
}

h1::after {
    content: '';
    display: block;
    width: 50px; /* Adjusts the width of the underline */
    height: 4px; /* Adjusts the height of the underline */
    background-color: #007bff; /* Sets the color of the underline */
    margin: 10px auto 0; /* Centers the underline */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0;
    width: 80%;
    max-width: 500px;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjusted for padding and border */
}

.display {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.display h2 {
    margin-bottom: 15px;
}

.display ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
}

.display li {
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
